<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, FilaYouth, Championship, Cupa, Caritabil, Campionat Caritabil">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>FilaYouth - Prayer</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/line-icons.css">
    <link rel="stylesheet" href="css/nivo-lightbox.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>

<body>
    <!-- Header Section Start -->
    <header id="hero-area" data-stellar-background-ratio="0.5">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><img class="img-fulid" src="img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="lnr lnr-menu"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#hero-area">Acasă</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#list">Lista</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#add">Adaugă cauză</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Mobile Menu Start -->
            <ul class="mobile-menu">
                <li>
                    <a class="page-scroll" href="#hero-area">Acasa</a>
                </li>
                <li>
                    <a class="page-scroll" href="#list">Lista</a>
                </li>
                <li>
                    <a class="page-scroll" href="#add">Adaugă cauză</a>
                </li>
            </ul>
            <!-- Mobile Menu End -->

        </nav>
        <!-- Navbar End -->
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="contents text-center">
                        <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">PRAY FOR A CAUSE
                        </h1>
                        <p class="lead wow fadeIn text-uppercase" data-wow-duration="1000ms" data-wow-delay="400ms">
                            Hai să ne rugăm împreună!</p>
                        <p class="wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
                            Adaugă cauza ta iar noi ne vom ruga pentru tine! </p>
                        <a class="page-scroll scrollNextPage mt-5" href="#competition" class="btn btn-common wow fadeInUpr"
                            data-wow-duration="1000ms" data-wow-delay="400ms">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- list Section Start -->
    <section id="list" class="section">
        <div class="container-fluid">
            <div class="section-header">
                <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Listă cauze</h2>
                <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            </div>

            <div id="causes" class="d-block mx-auto text-left w-100" style="max-width: 600px;"></div>
        </div>
    </section>
    <!-- Services Section End -->
    <hr class="lines w-100">

    <!-- Add Section Start -->
    <section id="add" class="section" data-stellar-background-ratio="0.2">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">Adaugă cauză</h2>
                <hr class="lines">
                <p class="section-subtitle">Dorești să ne rugăm pentru tine?</p>
                <p class="section-subtitle">Adaugă cauza ta mai jos</p>
                <div class="row">
                    <div class="col-lg-12 d-block" style="color: black">
                        <input id="cause" type="text" style="width: 300px;" placeholder="Cauza ta">
                        <select id="causeCategory" style="width: 300px;" class="d-block mx-auto mt-3">
                                <option value="type" disabled selected>Tipul cauzei</option>
                                <option value="Personala">Personala</option>
                                <option value="Spirituala">Spirituala</option>
                                <option value="Fizică">Fizică</option>
                        </select>
                        <button type="button" onclick="addCause()" class="d-block mx-auto mt-3"> Adaugă </button>
                        
                        <p id="responseMessage" class="mt-5"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features Section End -->

    <!-- Footer Section Start -->
    <footer>
        <div class="container">
            <div class="row">
                <!-- Footer Links -->
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <ul class="footer-links">
                        <li>
                            <a href="#hero-area" class="page-scroll">Acasă</a>
                        </li>
                        <li>
                            <a href="#list" class="page-scroll">Lista</a>
                        </li>
                        <li>
                            <a href="#add" class="page-scroll">Adaugă cauză</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="copyright">
                        <p>&copy; 2024
                            Designed by
                            <a target="_blank" rel="nofollow" href="https://uideck.com">UIdeck</a> & implemented by <a
                                target="_blank" rel="nofollow"
                                href="https://www.instagram.com/tinerifiladelfia">FilaYouth</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
        <i class="lnr lnr-arrow-up"></i>
    </a>

    <div id="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="js/jquery-min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mixitup.js"></script>
    <script src="js/nivo-lightbox.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/scrolling-nav.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/jquery.vide.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/logic.js"></script>

</body>

</html>